[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.19"
optimizer = true
optimizer_runs = 200
via_ir = true
ffi = false
fs_permissions = [{ access = "read", path = "./"}]

# Injective EVM
[rpc_endpoints]
injective_testnet = "https://testnet.sentry.chain.json-rpc.injective.network"
injective_mainnet = "https://sentry.evm-rpc.injective.network"

# Etherscan-style verification (Blockscout)
[etherscan]
injective_testnet = { key = "", chain = 1439, url = "https://testnet.blockscout.injective.network/api" }
injective_mainnet = { key = "", chain = 1776, url = "https://blockscout.injective.network/api" }

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
